# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

*_i.c
*_p.c
*_h.h
*.dll
*.exe
*.exp
*.ilk
*.meta
*.obj
*.iobj
*.lib
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.lnk
GRoot\*.csv