[submodule "R/thirdparty/U.PhyloMaker"]
	path = R/thirdparty/U.PhyloMaker
	url = https://github.com/jinyizju/U.PhyloMaker.git
[submodule "R/thirdparty/OUwie"]
	path = R/thirdparty/OUwie
	url = https://github.com/thej022214/OUwie.git
[submodule "R/thirdparty/phylolm"]
	path = R/thirdparty/phylolm
	url = https://github.com/lamho86/phylolm.git
[submodule "R/thirdparty/geiger-v2"]
	path = R/thirdparty/geiger-v2
	url = https://github.com/mwpennell/geiger-v2.git
