[submodule "R/thirdparty/U.PhyloMaker"]
	path = R/thirdparty/U.PhyloMaker
	url = https://github.com/jinyizju/U.PhyloMaker.git
[submodule "R/thirdparty/OUwie"]
	path = R/thirdparty/OUwie
	url = https://github.com/thej022214/OUwie.git
[submodule "R/thirdparty/phylolm"]
	path = R/thirdparty/phylolm
	url = https://github.com/lamho86/phylolm.git
[submodule "R/thirdparty/MCMCglmm"]
	path = R/thirdparty/MCMCglmm
	url = https://github.com/jarrodhadfield/MCMCglmm.git
[submodule "R/thirdparty/corHMM"]
	path = R/thirdparty/corHMM
	url = https://github.com/thej022214/corHMM.git
