CompileFlags:
  Add: [-Wall, -Wextra, -pedantic, -O0, -std=c23, -c, -I./, -I./include/, -DDEBUG, -D_DEBUG]
  Compiler:  clang.exe
  CompilationDatabase: None

Completion:
  AllScopes: Yes

Index:
  Background: Skip

InlayHints:
  BlockEnd: Yes
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 0

Hover:
  ShowAKA: Yes

Diagnostics:
  ClangTidy:
    FastCheckFilter: None